.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    /* padding: 5px; */
    margin: 5px;

}

.imagem{
    padding: 5px;
}

.info{
    padding: 5px;
}

.info h2{
    font-size: 32px;
}

.info h3{
    font-size: 24px;
}

.info h4{
    font-size: 24px;
}