.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body{
    flex-grow: 1;
}

.container{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #838383, #565657, #bfbfc0) 90%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 5px 15px rgba(0, 0, 255, 0.5);

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 255, 0.5);
}

.formImagem {
    width: 40%;
    height: 100%;
    background: rgb(155, 155, 155);

    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 90%;
    height: auto;
}

.formInfo {
    width: 60%;
    height: 100%;
    background: #eee5e5;
    padding: 5px;
}

.formInfoBody{
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid black;
}

.formInfoHead{
    font-size: 13px;
}

.forminfoBarra{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 3px;
}

.formInfoButton{
    margin: 0px 25px;
    width: 100%;
}

.formInfoDados{
    margin: 2px 0px;
}

.formInfoBodyInput{
    margin: 5px 0px;
}

.formInfoBodyDatas{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.formInfoBodyData{
    margin: 10px 0px;
    margin-right: 20px;
    width: 130px;
}

.formInfoBodyFile{
    margin: 10px 0px;
}

.formInfoDados Label{
    font-size: 12px;
}